.App {
  text-align: center;
  font-family: 'Segoe UI';
  background-color: beige;
}

h1 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

.mybox {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.particular_card {
  text-align: center;
  margin: 10px;
  width: 300px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card p {
  font-size: 16px;
}

.mybutton {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

button {
  font-size: 18px;
  padding: 5px 10px;
  margin: 5px;
}

.login-form {
  padding: 20px;
  text-align: center;
}

.login-form h2 {
  font-size: 24px;
}

.login-form button {
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  border-color: turquoise;
  background-color: turquoise;
  font-weight: bold;
  border-style:solid;
}
.login-form button:hover {
  color: turquoise;
  background-color: #fff;
  border-color: turquoise;  
}
