.login-container {
    /* height: 20vh;  */
  }
  
  .login-image-container {
    padding: 0; /* Remove padding */
  }
  
  .login-image {
    width: 90%;
    height: 80%;
    object-fit: cover; /* Ensure the image covers the container */
  }
  
  .login-form-container {
    display: flex;
    justify-content: flex-end; /* Align the form to the right */
  }
  
  .login-form {
    max-width: 300px; /* Set a maximum width for the form */
    margin-top: 50px; /* Add some top margin */
  }
  